{% extends "base.html" %} {% import "macros.html" as macros %} {% block title %}{% endblock %} {% block body %} {{ macros.display_header() }}
<section>
    <ul>
        Hello {{email}}! <a href="/transactions?email={{email}}"> View Transactions </a> {% for item in storeItems %}
        <li>
            test
            <div class='store-item'>
                <h3>{{ item['itemName'] }}</h3>
                <h4>{{ item['description'] }}</h4>
                <img src={{ item[ 'imgUrl'] }} width='200' height='200'>
                <p>Price: ${{ item['price'] }}</p>
                <form action="http://flask-env-2.ii2hfgmwbt.us-west-2.elasticbeanstalk.com/charge" method="post">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key={{ key }} data-description={{ item[ 'itemName'] }} data-amount={{ item[ 'price'] * 100 }} data-locale="auto">
                    </script>
                    <input type="hidden" name="amount" value="{{item[ 'price']}}">
                    <input type="hidden" name="item_id" value="{{item[ 'id']}}">
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{{ macros.display_footer() }} {% endblock %}
