@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';

h1 {
	color: #339BF5;
}

.store-item {
	text-align: center;
	margin: 50px;
}